*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.menu--short{
	display: none;
}

.container{
    margin: 0 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav{
	display: flex;
    align-items: flex-start;
    margin: 18px 0 5px;
}

.nav__menu{
    margin-top: 8px;
}

.nav__title{
    height: 77px;
    margin-left: 30.42px;
    font-size: 28px;
    font-weight: 500;
    color: #292F31;
}

.header__text{
    height: 62px;
	max-width: 327px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
}

.content{
    margin-bottom: 42px;
}

section{
    height: 213px;
    width: 326px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #C8C8C8;
}

.content__header{
    display: flex;
    align-items: center;
    margin: 53px 0 19.19px;
}

.content__title{
    margin-left: 20.40px;
    font-size: 18px;
    font-weight: 500;
    color: #292F31;
}

.content__text{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #A7A8A8;
}

button{
    height: 50px;
    width: 290px;
    border: 2px solid #979797;
    border-radius: 30px;
	font-size: 16px;
	font-weight: 500;
	color: #979797;
    background-color: #FFF;
}

.content__active{
    display: none;
    height: 20px;
    width: 100px;
	position: absolute;
    border-radius: 0 0 6px 6px;
    font-size: 11px;
    font-weight: 400;
    color: #FFF;
    background-color: #11D2A4;
    justify-content: center;
    align-items: center;
}

.active{
    display: flex;
}

.tooltip-change{
	width: 100%;
	display: flex;
	justify-content: center;
}

.tooltip-first{
	display: none;
	height: 312px;
	width: 293.1px;
	margin: 49px 16px;
	padding: 0 17px 0 17.9px;
	border-radius: 15px;
	background-color: #FFF;
	position: fixed;
	top: 0;
	z-index: 2000;
}

.first__header{
	height: 68px;
	margin: 25.58px 0 15.02px 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.first__title{
	font-size: 28px;
	font-weight: 700;
	color: #292F31;
	max-width: 239.1px;
}

.back__icon{
	margin-top: 10px;
}

.first__text{
	height: 76px;
	max-width: 280.1px;
	margin: 0 0 37.39px 0;
	font-size: 16px;
	font-weight: 400;
	color: #292F31;
}

.tooltip__import{
	font-size: 16px;
	font-weight: 400;
	color: #292F31;
}

.tooltip__import--n{
	font-size: 16px;
	font-weight: 700;
	color: #292F31;
}

.accept{
	height: 55px;
	width: 290px;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 400;
	color: #FFF;
	background-color: #05CB95;
	border: none;
}

.back:hover{
	cursor: pointer;
}

/* menu-------------------------------------------------------------------------------------------------------------------------------------------- */

.gray-mask {
	visibility: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	opacity: 50%;
	z-index: 1099;
	background-color: #373938;
}

.menu{
	width: 243.6px;
	position: absolute;
	padding-right: 23.4px;
	min-height: 1220px;
	height: auto;
	top: 0;
	left: 0;
	z-index: 1100;
	background-color: #F4F8F8;
	display: none;
}



.menu__title__text{
  height: 18px;
  font-size: 12px;
  font-weight: normal;
  line-height: 2.5;
  text-align: left;
	margin-top: 30px;
	margin-bottom: 15px;
  color: #999;
}

.menu__text{
	height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  text-align: left;
	display: flex;
	align-items: center;

  color: #292f31;
}

.menu__arrow{
	position: absolute;
	right: 23.35px;
}

.menu__icon--hover{
	display: none;
}

.menu__items{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}

.menu__header__logo{
	margin-top: 26px;
	height: 52px;
	width: 147px;
}

.menu__header__icon{
	height: 16.5px;
	width: 22.6px;
	margin-left: 15px;
	margin-right: 11.42px;
	margin-top: 40px;
}

.menu__header{
	display: flex;
}

.menu__home{
	margin-top: 53.52px;
	display: flex;
	align-items: center;
}

.menu__home .menu__icon{
	margin-left: 17px;
}

.menu__home .menu__text{
	text-align: center;
	margin-left: 16px;
}

.menu__admin{
	margin-bottom: 122.4px;
}

/* como os espaçamentos dos icones e dos textos nao sao iguais tive que fazer o espaçamento um a um, entao paciencia */

.menu__requests, .menu__navigation{
	margin-left: 15px;
}

.menu__requests .menu__items-2 .menu__icon{
	margin-left: 2px;
}

.menu__requests .menu__items-1 .menu__text{
	margin-left: 15px;
}

.menu__requests .menu__items-2 .menu__text{
	margin-left: 17.5px;
}

.menu__navigation .menu__items-1 .menu__icon{
	margin-left: 2px;
}

.menu__navigation .menu__items-1 .menu__text{
	margin-left: 17.5px;
}

.menu__navigation .menu__items-2 .menu__text{
	margin-left: 15.2px;
}

.menu__navigation .menu__items-3 .menu__text{
	margin-left: 15.1px;
}

.menu__settings .menu__arrow, .menu__requests .menu__items-2 .menu__arrow{
	transform: rotate(270deg);
}

.menu__settings .menu__items-3 .menu__arrow{
	transform: none;
}

.menu__admin .menu__items-4 .menu__arrow{
	transform: rotate(270deg);
}

.menu__settings .menu__title__text, .menu__admin .menu__title__text{
	margin-left: 15px;
}

.menu__settings .menu__items-1 .menu__icon, .menu__settings .menu__items-4 .menu__icon, .menu__settings .menu__items-6 .menu__icon{
	margin-left: 11px;
} 

.menu__settings .menu__items-2 .menu__icon, .menu__settings .menu__items-3 .menu__icon{
	margin-left: 10.6px;
}

.menu__settings .menu__items-5 .menu__icon{
	margin-left: 11.8px;
}

.menu__settings .menu__items-1 .menu__text{
	margin-left: 17.3px;
}

.menu__settings .menu__items-2 .menu__text{
	margin-left: 12.8px;
}

.menu__settings .menu__items-3 .menu__text{
	margin-left: 12.8px;
}

.menu__settings .menu__items-4 .menu__text{
	margin-left: 12.4px;
}

.menu__settings .menu__items-5 .menu__text{
	margin-left: 13.3px;
}

.menu__settings .menu__items-6 .menu__text{
	margin-left: 16.2px;
}

.menu__admin .menu__items-1 .menu__icon, .menu__admin .menu__items-2 .menu__icon{
	margin-left: 11px;
}

.menu__admin .menu__items-3 .menu__icon{
	margin-left: 14.6px;
}

.menu__admin .menu__items-4 .menu__icon{
	margin-left: 11.6px;
}

.menu__admin .menu__items-1 .menu__text{
	margin-left: 11.3px;
}

.menu__admin .menu__items-2 .menu__text{
	margin-left: 15.1px;
}

.menu__admin .menu__items-3 .menu__text{
	margin-left: 18.4px;
}

.menu__admin .menu__items-4 .menu__text{
	margin-left: 16.1px;
}

/* fim dos espaçamentos ----------------------------------------------------------------- */

.submenu__text--small{
	height: 20px;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	text-align: left;
	letter-spacing: 0px;
	margin-bottom: 20px;
	margin-left: 45px;
	display: none;

	color: #575757;
}

.menu__admin .submenu__text--small, .menu__settings .submenu__text--small{
	margin-left: 60px;
}

.submenu__text--small:hover{
	color: #05cb95;
	cursor: pointer;
}

.submenu__text{
	text-align: left;
	font: normal normal medium 14px/14px;
	letter-spacing: 0px;
	color: #292F31;
}

.menu__submenu--master{
	display: none;
	flex-direction: row;
	align-items: center;
	margin-top: 3px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.last-text{
	margin-bottom: 29px;
}

.menu .support{
	height: 66px;
	width: 238px;
	position: fixed;
	bottom: 19px;
	left: 15px;
	background-color: #fff;
	border-radius: 10px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e1e1e1;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu .support__icon{
	margin: 0 15px;
}

.menu .support__text{
  height: 20px;
  font-size: 14px;
  font-weight: 500;

  color: #606668;
}

.tooltips{
	display: none;
}


@media (min-width:1250px){
	.menu--short{
		display: none;
	}

	.body{
		display: grid;
		grid-template-areas: 'menu corpo';
		grid-template-columns: 72px calc(100% - 72px);
	}

	.menu--short{
		grid-area: menu;
		height: 1220px;
		width: 72px;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		overflow: hidden;
		background-color: #F4F8F8;
	}

	.menu--short .menu__items{
		margin: 0;
	}

	.menu--short .menu__header__icon{
		margin-top: 40px;
	}

	.menu--short .menu__header__logo{
		display: none;
	}

	.menu--short .menu__home .menu__icon{
		margin-bottom: 65.97px;
		margin-left: 0;
	}

	.menu--short .menu__requests .menu__items-1 .menu__icon{
		margin-bottom: 18px;
		
	}

	.menu--short .menu__requests, .menu--short .menu__navigation{
		margin-bottom: 84px;
		margin-left: 0;
	}

	.menu--short .menu__navigation{
		margin-bottom: 86.98px;
	}

	.menu--short .menu__navigation .menu__items-1 .menu__icon{
		margin-bottom: 20.12px;
		margin-left: 0;
	}

	.menu--short .menu__navigation .menu__items-2 .menu__icon{
		margin-bottom: 20.17px;
	}

	.menu--short .menu__settings{
		margin-bottom: 83.7px;
	}
	
	.menu--short .menu__settings .menu__items-1 .menu__icon{
		margin-bottom: 22.07px;
		margin-left: 0;
	}

	.menu--short .menu__settings .menu__items-2 .menu__icon{
		margin-bottom: 20.59px;
		margin-left: 0;
	}

	.menu--short .menu__settings .menu__items-3 .menu__icon{
		margin-bottom: 20.33px;
		margin-left: 0;
	}

	.menu--short .menu__settings .menu__items-4 .menu__icon{
		margin-bottom: 20.07px;
		margin-left: 0;
	}

	.menu--short .menu__settings .menu__items-5 .menu__icon{
		margin-bottom: 20.07px;
		margin-left: 0;
	}

	.menu--short .menu__settings .menu__items-6 .menu__icon{
		margin-left: 0;
	}

	.menu--short .menu__admin{
		margin-bottom: 272.05px;
	}

	.menu--short .menu__admin .menu__items-1 .menu__icon{
		margin-bottom: 20.39px;
		margin-left: 0;
	}

	.menu--short	.menu__admin .menu__items-2 .menu__icon{
		margin-bottom: 21.84px;
		margin-left: 1.5px;
	}

	.menu--short .menu__admin .menu__items-3 .menu__icon{
		margin-bottom: 22.78px;
		margin-left: 5px;
	}

	.menu--short .menu__admin .menu__items-4 .menu__icon{
		margin-left: 3px;
	}

	.menu--short .support{
		height: 66px;
		width: 59px;
		position: fixed;
		left: 6px;
		bottom: 10px;
		background-color: #fff;
		border-radius: 10px;
  	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.16);
  	border: solid 1px #e1e1e1;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	.menu--short .support:hover{
		cursor: pointer;
	}

	.menu--short	.support__text{
		display: none;
	}

	.menu .support:hover, .menu__header__icon{
		cursor: pointer;
	}

	.menu__home{
		margin-top: 53.52px;
		display: flex;
		align-items: center;
	}

	.tooltips{
		display: block;
		height: 40px;
		width: 40.03px;
		position: fixed;
		left: 40px;
		top: -50px;
		z-index: 10000;
	}

	.tooltip{
		display: none;
		height: auto;
		width: 195.03px;
		box-shadow: 0px 3px 20px #0000001F;
		position: fixed;
		background-color: #fff;
		left: 80px;
		top: 40px;
		z-index: 10000;
	}

	.tooltip__text:hover{
		cursor: pointer;
		color: #05CB95;
	}

	 .tooltip__item:hover .tooltip__text {
		color: #05cb95;
	}

	.tooltip__item:hover .tooltip__arrow{
		filter: invert(49%) sepia(81%) saturate(2084%) hue-rotate(129deg) brightness(106%) contrast(96%);
	}

	.tooltip__item{
		display: flex;
		align-items: flex-start;
	}

	.tooltip__title{
		height: 32px;
		font-size: 16px;
		font-weight: 500;
		
		padding-left: 25px;

		margin: 14px 0 18px 0px; 

		border-bottom: 1px solid #F1F1F1;
		color: #292F31;
	}

	.tooltip__text{
		height: 100%;
		font-size: 14px;
		font-weight: 400;

		margin: 0 16.19px 15px 25px;

		color: #575757;
	}

	.tooltip__arrow{
		position: absolute;
		right: 13.35px;
		margin-top: 6px;
		transform: rotate(270deg)
	}

	.title__hover:hover{
		
		color: #05CB95;
	}

	.icon__home:hover{
		filter: invert(49%) sepia(81%) saturate(2084%) hue-rotate(129deg) brightness(106%) contrast(96%);
	}

	.menu__items:hover{
		cursor: pointer;
	}
	
	.menu__items:hover .menu__icon,
	.menu__items:hover .menu__arrow{
		filter: invert(49%) sepia(81%) saturate(2084%) hue-rotate(129deg) brightness(106%) contrast(96%);
	}

	.menu__items:hover .menu__text {
		color: #05CB95;
	}

	.menu__home:hover {
		cursor: pointer;
		color: #05CB95;
	}

	.menu__home:hover .icon__home{
		cursor: pointer;
		filter: invert(49%) sepia(81%) saturate(2084%) hue-rotate(129deg) brightness(106%) contrast(96%);
		
	}
	
	.menu__home:hover .menu__text{
		cursor: pointer;
		color: #05CB95;
	}

	nav{
		height: 46px;
		width: 1044px;
		margin: 38px 0 9px;
	}

	.nav__menu{
		display: none;
	}

	.nav__title{
		margin: 0;
	}

	header{
		height: 20px;
		width: 1044px;
		margin-bottom: 25px;
	}

	.header__text{
		max-width: none;
	}

	.content{
		display: flex;
		flex-direction: row;
	}

	.content__header{
		flex-direction: column;
	}

	.content__title{
		margin: 20.9px 0 0 0;
	}

	.content__text{
		max-width: 179px;
		height: 43px;
	}
	
	section{
		height: 278px;
		width: 231px;
		margin-right: 28px;
	}

	button{
		width: 176px;
	}

	button:hover{
		cursor: pointer;
		border: none;
		color: #FFF;
		background-color: #05CB95;
	}

}
